@import '@styles/colors.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.posts {
  flex: 1 1 auto;
}

.sidebar {
  width: 264px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 16px 0 17px;

  & li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: scale-down;
}

.title {
}

.money {
  font-size: 0.857rem;
  line-height: 14px;
  color: $second;
}

.badge {
  border-radius: 8px;
  background-color: $green;
  font-size: 0.857rem;
  color: $white;
  padding: 2px 5px;
}

.red {
  background-color: $red;
}

.hr {
  width: 100%;
  border-top: 1px solid $grey;
  margin: 0;
  margin-top: -2px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px 16px;
}

.textarea {
  width: 100%;
  height: 88px;
  border: 1px solid $grey;
  border-radius: 4px;
  resize: none;

  &::placeholder {
    color: $grey;
    font-family: 'roboto_regular';
    font-size: 1rem;
    line-height: 20px;
    padding: 6px 12px;
  }
}

.save {
  width: 100%;
  height: 32px;
  background: $blue;
  border-radius: 4px;
  font-family: 'roboto_medium', sans-serif;
  line-height: 24px;
  color: $white;

  &:hover {
    cursor: pointer;
  }
}
